:root {
    --orange-dark: #c3a15e;
    --orange-ligth: #ffe1a6;
    --green: #34ca00;
}

body {
    color: white;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
img {
  max-inline-size: 100%;
  block-size: auto;
}
header {
    display: flex;
    justify-content: center;
    color: white;
}

nav {
    z-index: 100;
    display: flex;
    align-items: center;
    position: fixed;
    margin: 2% 1%;
    padding: 5px;
    border-radius: 100px;
    background-color: hsl(40, 46%, 57%, 80%);
    backdrop-filter: blur(3px);
}

nav img {
    max-width: 3rem;
}

nav img:nth-child(3) {
    visibility: hidden;
}

nav ul {
    margin: 0;
    padding: 0px;
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0 25px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: white;
}

.hero {
    position: relative;
}
.hero-logo {
    right: 6rem;
    position: absolute;
    max-width: 35%;
    transition: ease-in-out 0.3s;
}
.hero-logo:hover {
    scale: 1.1;
}
.call {
    scale: 1.3;
    bottom: -4rem;
    right: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    background: var(--green);
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--green);
    transition: ease-in-out 0.1s;
}

.call img {
    width: 50px;
}
.call:active{
    scale: 1.2;
}
.wrap {
    margin: 6rem 2rem;
    display: flex;
    align-items: flex-start;
}

.wrap h1 {
    font-size: 90px;
    font-weight: 900;
}

.logotip {
    width: 100px;
    height: 100px;
    background: red;
}

.hero-info {
    width: 100%;
    margin: 0;
}

.wrap span {
    font-weight: 400;
}

.content {
    display: flex;
    gap: 2.5rem;
}

.first {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}
.wrap-button {
    display: flex;
    gap: 10%;
}
.wrap-button button {
    font-size: 1rem;
    width: 150px;
    padding: 1rem;
    background: black;
    color: white;
    border: 1px solid var(--orange-ligth);
    transition: ease-in-out 0.2s;
}
.wrap-button button:hover {
    background: var(--orange-dark);
    box-shadow: 0 0 10px 5px var(--orange-dark);
    border: 0px solid transparent;
}
#information {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/61a6362ae61af4a8365f3c9c08084ede.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#information .cover {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}
#information ul {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 0;
    gap: 5rem;
}
.menu li {
    align-items: center;
    padding: 0.5rem;
    border-radius: 50px;
    background: black;
    justify-content: space-between;
    display: flex;
    gap: 25rem;
}
.menu p {
    margin: 0;
    font-size: large;
    color: var(--orange-ligth);
    padding: 0 0 0 1rem;
}

.pointer {
    background: url(images/Arrow\ 1.svg);
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    height: 60px;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 1.5px solid var(--orange-dark);
}
.slog {
    line-height: 6rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
}
#information h1 {
    margin: 0;
    margin-bottom: 10%;
    text-align: end;
    font-size: 120px;
    font-weight: bolder;
}
h1 span {
    font-weight: 500;
    font-size: 100px;
}
.buy {
    font-size: 1.5rem;
    padding: 0 2rem 0 2rem;
    background: var(--orange-dark);
    border: 0;
    transition: ease-in-out 0.2s;
}
.buy:hover {
    box-shadow: 0 0 20px 5px var(--orange-dark);
}
#choose {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#choose h1 {
    margin: 5% 0 0 0;
    text-align: center;
    font-size: 400%;
}
#choose span {
    font-weight: bolder;
}
#choose .wrap {
    margin: 4rem;
    display: flex;
    align-items: normal;
    gap: 6rem;
    justify-content: space-evenly;
}
.obj {
    color: black;
    width: 20%;
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(150, 150, 150);
    padding: 2rem;
    border-radius: 40px;
}
.obj p {
    margin: 0;
    font-size: 20px;
}
.obj img {
    width: 200px;
}
#garant {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(images/garantt.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#garant h1 {
    text-shadow: 5px 5px 20px rgba(80, 80, 80, 0.438);
    font-size: 80px;
    width: 50%;
}
#garant .wrap {
    margin: 6rem;
    text-wrap: pretty;
}
#garant strong {
    color: var(--orange-ligth);
}
.t-zone {
    width: 90%;
    font-size: 30px;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.582);
    backdrop-filter: blur(1.5px);
    border-radius: 20px;
}
#cost {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#cost .wrap {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10rem;
}
.cart {
    text-wrap: pretty;
    text-align: center;
    width: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 30px;
    border: 4px solid var(--orange-dark);
}
.cart img {
    max-width: 100%;
}
.small-menu {
    font-size: larger;
    display: flex;
    justify-content: space-around;
}
.small-menu button {
    transition: ease-in-out 0.1s;
}
.small-menu button:active {
    scale: 0.95;
    opacity: 0.7;
}
.cart h1 {
    font-size: larger;
    font-weight: bold;
}
.cart button {
    font-size: larger;
    width: 40%;
    background: black;
    color: white;
    border: 2px solid var(--orange-dark);
}
#contacts {
    background: rgb(18, 18, 18);
}
.wrap-cont {
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#contacts .wrap {
    height: 100%;
}
.con-logo {
    justify-self: center;
    width: 50%;
}

.component h1 {
    font-size: xx-large;
    font-weight: normal;
}
.place {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.place img {
    width: 5%;
}
.write-us {
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
input {
    padding: 1rem;
    background: black;
    border-radius: 15px;
    color: white;
    border: 0px;
    width: 80%;
}
.send {
    padding: 1rem;
    color: rgb(0, 0, 0);
    background: rgb(92, 214, 92);
    border-radius: 15px;
    border: 0px;
    transition: ease-in-out 0.1s;
}
.send:active {
    scale: 0.95;
}
@media (min-width: 1000px) {
    section:not(#contacts) {
        height: 1080px;
    }
}
/* phone style */
@media screen and (max-width: 1000px) {
    br{
        display: none;
    }
    h1,h2{
        font-size: initial;
    }
    span{
        font-size: initial;
    }
    p{
        font-size: initial;
    }
    .wrap {
        gap: 2rem;
        text-align: center;
        font-size: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrap span {
        font-size: initial;
    }
    .wrap h1 {
        order: 1;
        font-size: 150%;
    }
    .wrap span {
        font-size: large;
    }
    .hero-logo {
        max-width: 100%;
        order: 2;
        position: initial;
    }
    .content {
        order: 3;
        gap: 0;
        justify-content: space-evenly;
    }
    .content img {
        width: 30%;
    }
    .first {
        gap: 2rem;
        align-items: center;
    }
    nav {
        justify-content: space-between;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
    }
    nav img {
        max-width: 10%;
    }
    nav ul li {
        padding: 0;
    }
    .wrap-button {
        order: 4;
        padding: 2%;
    }
    .call img {
        width: 1rem;
    }
    #information .cover {
        flex-direction: column;
    }
    .slog {
        font-size: initial;
        order: 1;
    }
    #information h1 {
        font-size: initial;
    }
    #information span {
        font-size: initial;
    }
    .menu {
        order: 2;
    }
    .menu li {
        gap: 1rem;
    }
    #choose h1{
        font-size: initial;
    }
    #choose span{
        font-size: initial;
    }
    .obj{
        width: auto;
    }
    #garant h1{
        font-size: initial;
        width: auto;
    }
    .t-zone{
        font-size: initial;
    }
    .cart{
        width: auto;
    }
    .component h1{
        text-align: center;
    }
    .wrap-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
